h1
{
font-size: 45px;
font-family: 'Orbitron', sans-serif;
color: #00CED1;
background: black;
padding-top: 0px;
padding-left: 148px;
padding-right: 0px;
margin: 0px;
width: 1100px;
height: 80px;
float:right;


}
.header
{
  position:fixed;
}
.logo{
  width: 100px;
  background: black;
  height:80px;
  float:left;
}

body{
  padding-top: 0px;
  margin: auto;

}
.nav li
{
  display: inline;

}
.nav{

 padding-top: 60px;
  clear:both;
}
.nav li a{
  text-decoration: none;
  color:maroon;
  padding-right: 30px;
  font-family: 'Bree Serif', serif;
  font-size: 20px;
  padding-top: 100px;
  }
  .nav ul{
    padding-left: 60%;


}

  p{
    color: red;
  }

.super{
  width:90%;
  padding-left:5%;
padding-right: 30px;
  padding-bottom: 50px;
  padding-top: 0px;
opacity: .90;
}
.container_12 img{
  opacity: .75;
}
.grid_4 {
  height: 350px;
  border-color: grey;
}
