h1
{
font-size: 45px;
font-family: 'Orbitron', sans-serif;
color: #00CED1;
background: black;
margin right: : 0px;
margin-top: 0px;
}
.logo{
  background: black;
  height:80px;
  margin-left: 0px;
}

body{
  padding-top: 0px;
  margin: auto;
}

.nav li
{
  display: inline;

}
.nav li a{
  text-decoration: none;
  color:maroon;
  padding-right: 30px;
  font-family: 'Bree Serif', serif;
  font-size: 20px;
  padding-top: 100px;
  }
  .nav ul{
    padding-left: 60%;
}

  p{
    color: red;
  }

.super{
  width:80%;
  padding-left:10%;
  padding-right: 10%
  padding-bottom: 20%;

}
